/* Don't forget this */
* {
    box-sizing: border-box;
}

:root {
    --base-sm: 16px;
    --base-md: 18px;
    --base-lg: 22px;
    --h2-sm: 28px;
    --h2-md: 36px;
    --h2-lg: 48px;
    --primary-color: #9fc5e7;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
.container {
    margin: 2rem;
    padding: 2rem;
    width: 100%;
    min-height: calc(100vh - 4rem);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container h2 {
    font-size: var(--h2-sm);
}
.container p {
    font-size: var(--base-sm);
}

.container .col img {
    width: 100%;
}

.container .col.left {
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
}

.container .col.right .row:first-child {
    border-bottom: 1px solid grey;
}

@media screen and (min-width: 768px) {
    .container h2 {
        font-size: var(--h2-md);
    }
    .container p {
        font-size: var(--base-md);
    }
    .container .col.left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container .col.left .text-wrapper {
        width: calc(45% - 1rem);
    }
    .container .col.left .image-wrapper {
        width: calc(55% - 1rem);
    }
    .container .col.right {
        display: flex;
        flex-direction: row;
    }
    .container .col.right .row:first-child {
        border-bottom: 0;
        border-right: 1px solid grey;
        padding-right: 1rem;
    }
    .container .col.right .row:nth-child(2) {
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 958px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1390px;
        flex-direction: row;
    }
    .container h2 {
        font-size: var(--h2-lg);
    }
    .container p {
        font-size: var(--base-lg);
    }
    .container .col.left {
        border-bottom: 0;
        padding: 0 1rem;
    }
    .container .col.right {
        flex-direction: column;
        border-left: 1px solid grey;
    }
    .container .col.right .row:first-child {
        border-bottom: 1px solid grey;
        border-right: 0;
        padding-right: 0;
    }
    .container .col.right .row {
        padding: 0 1rem;
    }
}
